* {
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: url(../assets/water-park.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body section {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h1 {
  display: flex;
  justify-content: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 500px;
}

header div {
  margin-bottom: 0;
  color: white;
}

.start {
  font-family: 'Press Start 2P', cursive;
  padding: 10px 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 3px solid #541d00;
  color: white;
  background-color: #e6bc94;

}

.start:hover {
  cursor: pointer;
}

.grid-wrapper {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: center;
  max-height: 500px;
  max-width: 500px;
  width: 100%;
  border: 5px solid #541d00;
}

.grid div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
  margin: 0;
  background-color: #e6bc94;
}

.grid .food {
  background-color: white;
}

.grid .snake {
  background-color: #541d00;
}

.killGame {
  position: absolute;
  font-size: 40px;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #541d00;
}

.shake {
  animation: shake 0.5s linear 1;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
  }

}